.App {
  text-align: center;
  padding: 10px;
}

.error-wrapper {
  color: red;
}

.media-content__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: fit-content;
  display: inline-grid
}